<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540797447409-9m5pr49lq1cbc1m1r637r53riurgg36t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540797447409-9m5pr49lq1cbc1m1r637r53riurgg36t</string>
	<key>API_KEY</key>
	<string>AIzaSyBfFyneQM3VDsfS9ufJUFeWFxIYNhk5qLo</string>
	<key>GCM_SENDER_ID</key>
	<string>540797447409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YP.VK</string>
	<key>PROJECT_ID</key>
	<string>vk-app-82ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-82ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540797447409:ios:c04b07c5e6d79f07a34d50</string>
</dict>
</plist>